.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-area {
  display: flex;
  gap: 20px;
}

.delete-input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
